<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/index.css">
    <title>Elias Cardona</title>
</head>
<body>
    <main>
		<span>el input no sirve</span>
		<input type="file" id="file-input">

		<button type="button" id="upload-btn">
			fetch
		</button>
    </main>

	<script defer src="../views/js/index.js"></script>
</body>
</html>
